In [1]:
import os 
os.getcwd()

'C:\\Users\\shyam'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
#to load DataSet
df=pd.read_csv("salary1.csv")
#to show first 5 records
df.head()

,Unnamed: 0,age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [4]:
#To remove unwanted column from dataset
df.drop("Unnamed: 0",axis=1,inplace=True)

In [5]:
df.head()

,age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [6]:
#To show total no. of records
df.shape

(1032, 15)

In [7]:
#In this Dataset, target variable / output : Income column
#How many samples of 0's and 1's
#0's means Income < 50000
#ans 1's means Income >=50000
df['Income'].value_counts()

Income
0    778
1    254
Name: count, dtype: int64

In [ ]:
#Here 0's sample = 778 majority class
#and 1's sample =254 Minority class (254*2 = 508 samples)

In [ ]:
#Here dataset is unbalance

In [9]:
#Apply EDA means cleaning process
#To check null values
df.isnull().sum()

age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [13]:
df.dtypes

age                int64
Workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
Income             int64
dtype: object

In [14]:
#To check duplicates rows
df.duplicated().sum()

0

In [15]:
#Separate all int and float type ata and hold in new dataframe (df_num)
#use inbuilt method select_dtypes()
df_object=df.select_dtypes("object")

In [16]:
#Separate all object type data and hold in new dataframe (df_object)
#use inbuilt method select_dtypes()
df_num=df.select_dtypes(["int64","int32","float64"])

In [17]:
df_object.dtypes

Workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
native-country    object
dtype: object

In [18]:
df_num.dtypes

age               int64
fnlwgt            int64
education-num     int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
Income            int64
dtype: object

In [20]:
df_object['Workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc'], dtype=object)

In [21]:
#Apply LabelEncoder on dataset df_object
#call LabelEncoder class
from sklearn.preprocessing import LabelEncoder

for col in df_object:
    #create object of LableEncoder Class
    le=LabelEncoder()
    df_object[col]=le.fit_transform(df_object[[col]])

In [22]:
df_object.dtypes

Workclass         int32
education         int32
marital-status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
native-country    int32
dtype: object

In [23]:
#Merge or concatente both dataset df_object and df_num and hold in
#new dataset df_new
#use inbuilt method concat() of pandas library
df_new=pd.concat([df_object,df_num],axis=1)

In [24]:
df_new.dtypes

Workclass         int32
education         int32
marital-status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
native-country    int32
age               int64
fnlwgt            int64
education-num     int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
Income            int64
dtype: object

In [25]:
#Separate input and output from dataset df_new
X=df_new.drop("Income",axis=1) #input
Y=df_new["Income"]  #output

In [26]:
X.columns

Index(['Workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'age', 'fnlwgt',
       'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'],
      dtype='object')

In [27]:
#Train test split 70%-30%
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [28]:
#Apply scaling on input column
#use StandardScaler class
from sklearn.preprocessing import StandardScaler
#create object of standardScaler class
ss=StandardScaler()
X_train=ss.fit_transform(X_train)  #training input
X_test=ss.transform(X_test)   #testing input

In [30]:
X_train.shape,Y_train.shape

((722, 14), (722,))

In [29]:
#Output column for training : Y_train
Y_train.value_counts()  #1's : 182*2=364 samples whose less than
#majority class : 1's 540
#means unbalanced

Income
0    540
1    182
Name: count, dtype: int64

In [31]:
#Apply sampling technique for balanced data
#RandomOverSampler inbuilt class
#RandomOverSampler means copies the records of minority class (1's)
#Whose equals to majority class means 0's
#Use inbuilt package imblearn for RandomOverSampler inbuilt class

# imblearn inbuilt package of python but, first time install on your
#system with the help of pip

#!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Collecting imblearn
  Obtaining dependency information for imblearn from https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl.metadata
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Requirement already satisfied: imbalanced-learn in c:\programdata\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.11.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Installing collected packages: imblearn
Successfully installed imblearn-0.0